<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Custom React App</title>
    <link rel="stylesheet" href="static/css/main.<hash>.css"> <!-- Link to the CSS file -->
</head>
<body>
    <div id="root"></div> <!-- This is where React will mount the app -->

    <!-- Link to the React JavaScript bundle -->
    <script src="static/js/main.<hash>.js"></script> <!-- This is the bundled JavaScript file -->
</body>
</html>np